<!--begin::Aside-->
<div class="aside section-space--pb_40 default-bg">
  <!--begin::Brand-->
  <div class="aside-logo" id="kt_aside_logo">
    <!--begin::Logo-->
    <a href="/trang-chu" target="_blank" class="d-flex align-items-center">
      <img alt="Logo" src="/assets/images/diacau.png" class="logo">
    </a>
    <!--end::Logo-->
  </div>
  <!--end::Brand-->

  <!--begin::Aside menu-->
  <div class="aside-menu flex-column-fluid">
    <!--begin::Aside Menu-->
    <div class="hover-scroll-overlay-y my-3" style="height: 200px;">
      <!--begin::Menu-->
      <div class="d-flex flex-column">
        <!--begin:Menu item-->
        <div class="menu-item py-2" id="active-d">
          <!--begin:Menu link-->
          <a routerLink="/dashboard" routerLinkActive="active" class="menu-link menu-center">
            <span class="menu-icon"><i class="far fa-home"></i></span>
            <span class="menu-title">Trang chủ</span>
          </a>
          <!--end:Menu link-->
        </div>
        <!--end:Menu item-->
        <!--begin:Menu item-->
        <div class="menu-item py-2" id="active-n">
          <!--begin:Menu link-->
          <a routerLink="/d/post" routerLinkActive="active" class="menu-link menu-center">
            <span class="menu-icon"><i class="far fa-newspaper"></i></span>
            <span class="menu-title">Tin tức</span>
          </a>
          <!--end:Menu link-->
        </div>
        <!--end:Menu item-->
        <!--begin:Menu item-->
        <div class="menu-item py-2" id="active-c">
          <!--begin:Menu link-->
          <a routerLink="/d/customer" routerLinkActive="active" class="menu-link menu-center">
            <span class="menu-icon"><i class="fal fa-handshake"></i></span>
            <span class="menu-title">Khách hàng</span>
          </a>
          <!--end:Menu link-->
        </div>
        <!--end:Menu item-->
        <!--begin:Menu item-->
        <div class="menu-item py-2" id="active-p">
          <a routerLink="/d/product" routerLinkActive="active" class="menu-link menu-center">
            <span class="menu-icon"><i class="fal fa-box"></i></span>
            <span class="menu-title">Sản phẩm</span>
          </a>
        </div>
        <!--end:Menu item-->

        <!--begin:Menu item-->
        <div class="menu-item py-2" id="active-sl">
          <a routerLink="/d/sliders" routerLinkActive="active" class="menu-link menu-center">
            <span class="menu-icon"><i class="far fa-presentation"></i></span>
            <span class="menu-title">Trình chiếu</span>
          </a>
        </div>
        <!--end:Menu item-->

        <!--begin:Menu item-->
        <div class="menu-item py-2" id="active-nav">
          <a routerLink="/d/navigation" routerLinkActive="active" class="menu-link menu-center">
            <span class="menu-icon"><i class="far fa-columns"></i></span>
            <span class="menu-title">Điều hướng</span>
          </a>
        </div>
        <!--end:Menu item-->

        <!--begin:Menu item-->
        <div class="menu-item py-2" (click)="logout()">
          <div class="menu-link menu-center">
            <span class="menu-icon"><i class="far fa-sign-out-alt"></i></span>
            <span class="menu-title">Đăng xuất</span>
          </div>
        </div>
        <!--end:Menu item-->
      </div>
      <!--end::Menu-->
    </div>
    <!--end::Aside Menu-->
  </div>
  <!--end::Aside menu-->

  <div class="aside-more">
    <i class="far fa-chevron-circle-down"></i>
  </div>
</div>
<!--end::Aside-->
