.modal-button{
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
}
.modal-button button{
  padding: 5px 10px;
  border-radius: 5px;
}

.modal-content-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}
.modal-content-box input{
  border: 1px solid #ccc;
  width: 100%;
  padding: 8px 20px;
  border-radius: 5px;
}
.modal-content-box select{
  height: 40px;
}
