<app-nav-list></app-nav-list>

<!-- breadcrumb-area start -->
<div class="breadcrumb-box section-space--pt_100">
  <img src="assets/images/banners/banner-tin-tức.png" class="img-fluid">
</div>
<!-- breadcrumb-area end -->

<!--========== News List ==========-->
<div class="site-wrapper-reveal">
  <!--====================  Blog Area Start ====================-->
  <div class="blog-pages-wrapper section-space--ptb_60">
    <div class="container">
      <div class="py-4 mb-4">
        <div class="align-items-center">
          <div class="text-center">
            <h3 class="chuyenmuc" style="color: #50B848;">TIN TỨC MỚI NHẤT</h3>
            <hr class="hrtag">
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let new of news" class="col-lg-4 col-md-6 mb-30 wow move-up">
          <!--======= Single Blog Item Start ========-->
          <div class="single-blog-item blog-grid">
            <!-- Post Feature Start -->
            <div class="post-feature blog-thumbnail">
              <a routerLink="/tin-tuc/{{new.url}}" routerLinkActive="active">
                <img class="img-fluid" src="{{new.postImage.url}}" alt="Blog Images" appHideMissing>
              </a>
            </div>
            <!-- Post Feature End -->

            <!-- Post info Start -->
            <div class="post-info lg-blog-post-info">
              <h6 class="post-title font-weight--bold mb-2">
                <a routerLink="/tin-tuc/{{new.url}}" routerLinkActive="active">{{new.title}}</a>
              </h6>
              <div class="text-desc">
                {{new.description}}
              </div>
            </div>
            <!-- Post info End -->
          </div>
          <!--===== Single Blog Item End =========-->
        </div>
      </div>
    </div>
  </div>
  <!--====================  Blog Area End  ====================-->
</div>
<!--======== End News List ========-->


<app-footer></app-footer>
