<app-nav-list></app-nav-list>

<!-- breadcrumb-area start -->
<div class="breadcrumb-box section-space--pt_100">
  <img src="assets/images/banners/banner-tin-tức.png" class="img-fluid">
</div>
<!-- breadcrumb-area end -->

<!--====================  Blog Area Start ====================-->
<div class="blog-pages-wrapper section-space--ptb_90">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="main-blog-wrap">
          <!--======= Single Blog Item Start ========-->
          <div class="single-blog-item">
            <!-- Post Feature Start -->
<!--            <div class="post-feature blog-thumbnail wow move-up">-->
<!--              <img class="img-fluid" src="{{news.postImage.url}}" alt="Blog Images" appHideMissing>-->
<!--            </div>-->
            <!-- Post Feature End -->

            <!-- Post info Start -->
            <div class="post-info lg-blog-post-info  wow move-up">

              <h4 class="post-title font-weight--light">{{news.title}}</h4>

              <div class="post-meta mt-20">
                <div class="post-date">
                  <span class="far fa-calendar meta-icon"></span>
                  {{news.date}}
                </div>
              </div>

              <div class="post-excerpt mt-15">
                <div class="content" [innerHTML]="news.content"></div>
                <div class="entry-post-share-wrap border-bottom pt-5">
                  <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                      <div class="entry-post-tags">
                        <div class="tagcloud-icon">
                          <i class="fa fa-tags"></i>
                        </div>
                        <div class="tagcloud">
                          <a href="#">designer</a>, <a href="#">font</a>, <a href="#">mookup</a>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                      <div id="entry-post-share" class="entry-post-share">
                        <div class="share-media">
                          <a class="hint--bounce hint--top hint--primary twitter ml-2" target="_blank" aria-label="Twitter" href="#">
                            <i class="fab fa-twitter"></i>
                          </a>
                          <a class="hint--bounce hint--top hint--primary facebook ml-2" target="_blank" aria-label="Facebook" href="#">
                            <i class="fab fa-facebook-f"></i>
                          </a>
                          <a class="hint--bounce hint--top hint--primary linkedin ml-2" target="_blank" aria-label="Linkedin" href="#">
                            <i class="fab fa-linkedin"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="related-posts-wrapper">
                  <div class="row">
                    <div class="col-lg-12">
                      <h5 class="widget-title font-weight--light">Related Posts </h5>
                    </div>
                    <div class="col-lg-6">
                      <!-- Single Valid Post Start -->
                      <a class="single-valid-post-wrapper" href="#">
                        <div class="single-blog__item">
                          <div class="single-valid__thum bg-img" data-bg="assets/images/blog/blog-09-770x420.jpg">
                          </div>

                          <div class="post-content">
                            <div class="post-info">
                              <div class="post-meta">
                                <div class="post-categories">
                                  <span>App Release</span>
                                </div>
                              </div>
                              <h6 class="post-title font-weight--bold">Designers’ Identities & Social Unconscious Bias</h6>
                            </div>
                          </div>

                        </div>
                      </a>
                      <!-- Single Valid Post End -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Post info End -->
          </div>
          <!--===== Single Blog Item End =========-->
        </div>
      </div>

      <div class="col-lg-4">
        <div class="page-sidebar-content-wrapper page-sidebar-right  small-mt__40 tablet-mt__40">

          <!--=== Sidebar Widget Start ===-->
          <div class="sidebar-widget search-post  wow move-up">
            <form action="#" method="post">
              <div class="widget-search">
                <input type="text" placeholder="Enter search keyword…">
                <button type="submit" class="search-submit">
                  <span class="search-btn-icon far fa-search"></span>
                </button>
              </div>
            </form>
          </div>
          <!--=== Sidebar Widget End ===-->

          <!-- === Sidebar Widget Start ===-->
          <div class="sidebar-widget widget-categories  wow move-up">
            <ul>
              <li class="cat-item"><a href="#">Về Chúng Tôi</a>
              </li>
              <li class="cat-item"><a href="#">Hồ Sơ Năng Lực</a>
              </li>
              <li class="cat-item"><a href="#">Khách Hàng Tiêu Biểu</a>
              </li>
            </ul>

          </div>
          <!-- === Sidebar Widget End === -->

          <!-- === Sidebar Widget Start === -->
          <div class="sidebar-widget widget-blog-post  wow move-up">

            <h5 class="widget-title font-weight--light">Popular posts</h5>
            <div class="post-item">
              <div class="post-info">
                <div class="post-categories">
                  <a href="#">App Release</a>
                </div>
                <h6 class="post-title">
                  <a href="#">Specialized Design Tools for 2019</a>
                </h6>
              </div>
            </div>
            <div class="post-item">
              <div class="post-info">
                <div class="post-categories">
                  <a href="#">App Release</a>
                </div>
                <h6 class="post-title">
                  <a href="#">D&amp;AD Festival 2019’s Brand Identity</a>
                </h6>
              </div>
            </div>

          </div>
          <!-- === Sidebar Widget End === -->

          <!-- === Sidebar Widget Start === -->
          <div class="sidebar-widget widget-images  wow move-up">

            <img class="img-fluid" src="../../../../assets/images/blog/blog-advertising.jpg" alt="">

          </div>
          <!-- === Sidebar Widget End === -->

          <!-- === Sidebar Widget Start === -->
          <div class="sidebar-widget widget-tag  wow move-up">

            <h5 class="widget-title font-weight--light">Tags</h5>
            <a href="#" class="ht-btn ht-btn-xs">designer</a>
            <a href="#" class="ht-btn ht-btn-xs">font</a>
            <a href="#" class="ht-btn ht-btn-xs">mookup</a>

          </div>
          <!-- === Sidebar Widget End === -->
        </div>
      </div>
    </div>
  </div>
</div>
<!--====================  Blog Area End  ====================-->

<!--====================  footer area ====================-->
<app-footer></app-footer>
<!--====================  End of footer area  ====================-->
