<form (ngSubmit)="onSubmit()" enctype="multipart/form-data" novalidate>
  <div class="container section-space--ptb_30">
    <div class="row">
      <div class="col-lg-4">
        <div class="update_box">
          <span><strong>THUMB</strong></span>
          <div class="image">
            <img src="{{url}}" alt="" appHideMissing>
          </div>
          <input type="file" value="select" (change)="onFileChange($event)">
        </div>

        <div class="update_box">
          <span><strong>DESCRIPTION</strong></span>
          <input type="text" [(ngModel)]="recruit.description" name="description">
        </div>
      </div>

      <div class="col-lg-8">
        <div class="update_box">
          <span><strong>TITLE</strong></span>
          <input type="text" name="title" [(ngModel)]="recruit.name">
        </div>

        <div class="update_box">
          <span><strong>CONTENT</strong></span>
          <textarea class="content" name="content" [(ngModel)]="recruit.content" placeholder="Type something... "></textarea>
        </div>

        <button type="submit" class="btn bg-success">Save</button>
        <a routerLink="/d/news" routerLinkActive="active" class="btn mx-3" style="background: #d6d8d9">Cancel</a>
      </div>
    </div>
  </div>
</form>
