<div class="Popup" id="myEdit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center">
          <img src="assets/images/avatars/logoEcoit.jpg" style="width: 125px;" alt="logo">
        </div>
        <h4>Lịch sử chỉnh sửa</h4>
        <span class="close-btn" (click)="closeModal()">&times;</span>
      </div>

      <div class="modal-body">
        <div class="Set-pop">
          <div class="card-body p-md-5 mx-md-4">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
