.footer-widget__title{
  color: #fff;
}
.hrtag{
  background: #fff;
  border: 0;
  outline: 0;
  height: 1px;
  width: 150px;
}

.fun-fact-wrapper {
  color: #ffffff;
  margin-bottom: 0px !important;
  padding-top: 30px !important;
  background: #50b848 url("src/assets/images/bg/bg_tieubieu.png");
}

.content-text{
  color: #fff;
  font-size: 30px;
  font-weight: 600
}
