<div class="container section-space--pb_90">
  <div class="main-shop-wrap">
    <div class="py-4">
      <div class="align-items-center">
        <div class="text-center">
          <h3 class="chuyenmuc" style="color: #50B848;">GIỚI THIỆU</h3>
          <hr class="hrtag">
        </div>
      </div>
    </div>
  </div>

  <div class="tab-content">
    <div class="single-portfolio-list-item border-bottom wow move-up animate" style="visibility: visible; opacity: 0;">
      <div class="faq-wrapper">
        <div class="card">
          <div class="row" style="padding: 40px">
            <div class="col-lg-6 col-md-6">
              <!-- Post info Start -->
              <div class="post-info list-item-space">
                <div class="text-justify">
                  <p>
                    <span style="color:#50b848;">{{paragraph[0]}}</span>
                    &nbsp;{{paragraph[1]}}
                  </p>
                </div>

                <div class="post-read-more mt-30">
                  <div class="service-link">
                    <a routerlink="/ve-chung-toi" routerLinkActive="active">TÌM HIỂU THÊM</a>
                  </div>
                </div>
              </div>
              <!-- Post info End -->
            </div>

            <div class="col-lg-6 col-md-6">
              <!-- Post Feature Start -->
              <div class="post-feature blog-thumbnail">
                <div class="wp-block-embed__wrapper">
                  {{abouts.videoLINK}}
                </div>
              </div>
              <!-- Post Feature End -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
