<!--====================  header area ====================-->
<div class="header-area header-sticky header-area--absolute border-bottom-drak">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="header position-relative">
          <!-- brand logo -->
          <div class="header__logo">
            <a href="/trang-chu">
              <img src="/assets/images/avatars/logoEcoit.jpg" class="img-fluid" alt="Saas">
            </a>
          </div>
          <!-- navigation menu -->
          <div class="header__navigation d-none d-xl-block">
            <div class="header__navigation--four">
              <div class="header-right">

                <div class="header-top">
                  <div class="header-left-info">
                     <span class="header-label">
                       <i class="fas fa-phone"></i>
                     </span>
                    <span class="d-flex flex-column">
                      <span>HOTLINE</span>
                      <strong>
                        <span class="color-gre"><a href="tel:(+84) 935 772 929">(+84) 935 772 929</a></span>
                      </strong>
                    </span>
                  </div>
                  <div class="header-left-info">
                    <span class="header-label">
                      <i class="far fa-envelope"></i>
                    </span>
                    <span class="d-flex flex-column">
                      <span>EMAIL</span>
                      <strong>
                        <span class="color-gre"><a href="mailto:contact@ecoit.asia">contact@ecoit.asia</a></span>
                      </strong>
                    </span>
                  </div>
                  <div class="header-right-info ">
                    <a class="btn header-button" href="https://ecoit.asia/lien-he/">
                        <span >LIÊN HỆ TƯ VẤN</span>
                    </a>
                  </div>
                </div>

                <div class="header-bottom">
                  <nav class="navigation-menu navigation-menu--onepage navigation-menu--text_white">
                    <ul>
                      <li><a href="index.html"><span>TRANG CHỦ</span></a></li>
                      <li class="has-children has-children--multilevel-submenu">
                        <a href="#"><span>PAGES</span></a>
                        <ul class="submenu">
                          <li><a href="page-scroll.html"><span>One Page Scroll</span></a></li>
                          <li><a href="page-maintenance.html"><span>Maintenance</span></a></li>
                          <li><a href="page-404.html"><span>404 Page</span></a></li>
                          <li class="has-children">
                            <a href="#"><span>Submenu Level One</span></a>
                            <ul class="submenu">
                              <li class="has-children">
                                <a href="#"><span>Submenu Level Two</span></a>
                                <ul class="submenu">
                                  <li><a href="#"><span>Submenu Level Three</span></a></li>
                                  <li><a href="#"><span>Submenu Level Three</span></a></li>
                                  <li><a href="#"><span>Submenu Level Three</span></a></li>
                                  <li><a href="#"><span>Submenu Level Three</span></a></li>
                                </ul>
                              </li>
                              <li><a href="#"><span>Submenu Level Two</span></a></li>
                              <li><a href="#"><span>Submenu Level Two</span></a></li>
                              <li><a href="#"><span>Submenu Level Two</span></a></li>
                            </ul>
                          </li>
                          <li class="has-children">
                            <a href="#"><span>Submenu Level One</span></a>
                            <ul class="submenu">
                              <li class="has-children">
                                <a href="#"><span>Submenu Level Two</span></a>
                                <ul class="submenu">
                                  <li><a href="#"><span>Submenu Level Three</span></a></li>
                                  <li><a href="#"><span>Submenu Level Three</span></a></li>
                                  <li><a href="#"><span>Submenu Level Three</span></a></li>
                                  <li><a href="#"><span>Submenu Level Three</span></a></li>
                                </ul>
                              </li>
                              <li><a href="#"><span>Submenu Level Two</span></a></li>
                              <li><a href="#"><span>Submenu Level Two</span></a></li>
                              <li><a href="#"><span>Submenu Level Two</span></a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <!-- header actions -->
<!--          <div class="header__actions&#45;&#45;four">-->
<!--            <div class="mobile-navigation-icon d-block d-xl-none" id="mobile-menu-trigger">-->
<!--              <i></i>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!--====================  End of header area  ====================-->
