<div class="toolbar py-1">
  <!--begin::Container-->
  <div class="container-fluid d-flex align-items-center">
    <div class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
      <!--begin::Title-->
      <h6 class="d-flex align-items-center text-dark fw-bold my-1 fs-3">Kho ảnh
        <!--begin::Separator-->
        <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
        <!--end::Separator-->
        <!--begin::Description-->
        <small class="text-muted fs-7 fw-semibold my-1 ms-1">#XRS-45670</small>
        <!--end::Description-->
      </h6>
      <!--end::Title-->
    </div>
    <!--begin::Page title-->
    <div class="flex-grow-1 flex-shrink-0 me-5">

    </div>
    <!--end::Page title-->
    <!--begin::Action group-->
    <div class="d-flex align-items-center flex-wrap">
      <!--begin::Wrapper-->
      <div class="d-flex align-items-stretch">
        <div class="menu-item">
          <div class="menu-link">
            <span>Ngày</span>
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-link">
            <span>Tuần</span>
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-link">
            <span>Năm</span>
          </div>
        </div>
      </div>
      <!--end::Wrapper-->
      <!--begin::Wrapper-->
      <div class="d-flex align-items-center">
        <!--begin::Daterangepicker-->
        <div class="menu-item here">
          <div class="menu-link">
            <a href="#">
              <span class="fw-bold">//</span>
            </a>
          </div>
        </div>
        <!--end::Daterangepicker-->
        <!--begin::Actions-->
        <div class="menu-item">
          <div class="menu-link">
            <a class="ht-btn-custom" routerLink="add-new" routerLinkActive="active" class="p-action-btn hint--rounded hint--bounce hint--top-left" aria-label="Thêm mới">
              <i class="fas fa-file-plus fa-lg"></i>
            </a>
          </div>
        </div>
        <!--end::Actions-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Action group-->
  </div>
  <!--end::Container-->
</div>

<!--begin::Container-->
<div class="d-flex flex-column flex-column-fluid">
  <div class="site-wrapper-reveal">
    <div class="blog-pages-wrapper section-space--pt_100 section-space--pb_40">
      <div class="container-fluid--cp-120">
        <div class="tab-pane" id="grid">
          <div class="row">
            <div class="col-lg-8">
              <div class="product-thumbnail__container">
                <div class="faq-wrapper" *ngFor="let img of images">
                  <div class="card">
                    <div class="product-thumb-image" (click)="choose($event)">
                      <img class="img-fluid" src="{{img.url}}" alt="{{img.name}}" id="{{img.id}}" appHideMissing>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 info-box">
              <div class="faq-wrapper">
                <div class="card">
                  <div class="img-target-box">
                    <img class="img-fluid" src="{{target.url}}" alt="Blog Images" appHideMissing>
                  </div>
                  <div class="select-content-box">
                    <div class="select-content-item">
                      <span><strong>Tên: </strong></span>
                      <span>{{target.name}}</span>
                    </div>

                    <div class="select-content-item">
                      <span><strong>Sử dụng: </strong></span>
                      <span>{{target.target}}</span>
                    </div>

                    <div class="select-content-item">
                      <span><strong>Trạng thái: </strong></span>
                      <div>
                        <span style="color: #50b848">
                          <i class="fa fa-dot-circle fa-xs"></i>
                        </span>
                        <span class="ml-1">Hoạt động</span>
                      </div>
                    </div>

                    <div class="mt-3">
                      <button class="btn mr-2" (click)="downloadImg(target.id)">Tải xuống</button>
                      <button class="btn ml-2">Sửa</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end::Container-->
