<div class="d-flex flex-column flex-root">
  <!--begin::Page-->
  <div class="page d-flex flex-row flex-column-fluid">
    <app-aside></app-aside>
    <!--begin::Wrapper-->
    <div class="wrapper d-flex flex-column">
      <!--begin::Header-->
      <div class="header align-items-stretch">
        <!--begin::Container-->
        <div class="container-fluid d-flex align-items-stretch justify-content-between">
          <!--begin::Wrapper-->
          <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
            <!--begin::Navbar-->
            <div class="d-flex align-items-stretch">
              <!--begin::Menu wrapper-->
              <div class="header-menu align-items-stretch">
                <!--begin::Menu-->
                <div class="d-flex my-5 my-lg-0 px-2 px-lg-0 align-items-stretch">
                  <!--begin:Menu item-->
                  <div class="menu-item here menu-lg-down-accordion me-0 me-lg-2">
                    <!--begin:Menu link-->
                    <div class="menu-link">
                      <span class="menu-title">Bảng điều khiển</span>
                      <span class="menu-arrow d-lg-none"></span>
                    </div>
                    <!--end:Menu link-->
                  </div>
                  <!--end:Menu item-->
                  <!--begin:Menu item-->
                  <div class="menu-item menu-lg-down-accordion me-0 me-lg-2">
                    <!--begin:Menu link-->
                    <div class="menu-link">
                      <span class="menu-title">Tin tức</span>
                      <span class="menu-arrow d-lg-none"></span>
                    </div>
                    <!--end:Menu link-->
                  </div>
                  <!--end:Menu item-->
                  <!--begin:Menu item-->
                  <div class="menu-item menu-lg-down-accordion me-0 me-lg-2">
                    <!--begin:Menu link-->
                    <span class="menu-link py-3">
                      <span class="menu-title">Khách hàng</span>
                      <span class="menu-arrow d-lg-none"></span>
                    </span>
                    <!--end:Menu link-->
                  </div>
                  <!--end:Menu item-->
                  <!--begin:Menu item-->
                  <div class="menu-item menu-lg-down-accordion me-0 me-lg-2">
                    <!--begin:Menu link-->
                    <span class="menu-link py-3">
                      <span class="menu-title">Sản phẩm</span>
                      <span class="menu-arrow d-lg-none"></span>
                    </span>
                    <!--end:Menu link-->
                  </div>
                  <!--end:Menu item-->
                  <!--begin:Menu item-->
                  <div class="menu-item menu-lg-down-accordion me-0 me-lg-2">
                    <!--begin:Menu link-->
                    <span class="menu-link py-3">
                      <span class="menu-title">Trợ giúp</span>
                      <span class="menu-arrow d-lg-none"></span>
                    </span>
                    <!--end:Menu link-->
                  </div>
                  <!--end:Menu item-->
                </div>
                <!--end::Menu-->
              </div>
              <!--end::Menu wrapper-->
            </div>
            <!--end::Navbar-->
            <div class="d-flex align-items-center">
              <!--begin::Search-->
              <div class="d-flex align-items-center ml-lg-3">
                <!--begin::Search-->
                <form>
                  <div class="input-group" style="padding: 0.65rem 1rem;">
                    <input type="text" class="form-control" placeholder="Viết gì đó ...">
                    <div class="input-group-append">
                      <button type="button" class="input-group-text"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </form>
                <!--end::Search-->
              </div>
              <!--end::Search-->
            </div>

            <div class="d-flex align-items-stretch flex-shrink-0">
              <!--begin::Activities-->
              <div class="d-flex align-items-center ml-lg-3">
                <div class="icon-head">
                  <a href="#"><i class="fa fa-bell"></i></a>
                </div>
              </div>
              <!--end::Activities-->
              <div class="d-flex align-items-center ml-lg-3">
                <div class="icon-head">
                  <a href="#"><i class="fa fa-clipboard-check"></i></a>
                </div>
              </div>

              <div class="d-flex align-items-center ml-lg-3">
                <div class="icon-head">
                  <a href="#"><i class="fa fa-th-large"></i></a>
                </div>
              </div>

              <div class="d-flex align-items-center ml-lg-3">
                <div class="icon-head">
                  <button type="button" class="ht-btn-custom"><i class="fa fa-sun"></i></button>
                </div>
              </div>

              <div class="d-flex align-items-center ml-lg-3">
                <div class="user-ava-box">
                  <img src="assets/images/gallery/portfolio-01-480x480.jpg" alt="image">
                </div>
              </div>
            </div>
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Container-->

        <div class="toolbar py-1">
          <!--begin::Container-->
          <div class="container-fluid d-flex align-items-center">
            <div class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
              <!--begin::Title-->
              <h6 class="d-flex align-items-center text-dark fw-bold my-1 fs-3">Bảng điều khiển
                <!--begin::Separator-->
                <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
                <!--end::Separator-->
                <!--begin::Description-->
                <small class="text-muted fs-7 fw-semibold my-1 ms-1">#XRS-45670</small>
                <!--end::Description-->
              </h6>
              <!--end::Title-->
            </div>
            <!--begin::Page title-->
            <div class="flex-grow-1 flex-shrink-0 me-5">
              <!--begin::Page title-->

              <!--end::Page title-->
            </div>
            <!--end::Page title-->
            <!--begin::Action group-->
            <div class="d-flex align-items-center flex-wrap">
              <!--begin::Wrapper-->
              <div class="d-flex align-items-stretch">
                <div class="menu-item">
                  <div class="menu-link">
                    <span>Ngày</span>
                  </div>
                </div>
                <div class="menu-item">
                  <div class="menu-link">
                    <span>Tuần</span>
                  </div>
                </div>
                <div class="menu-item">
                  <div class="menu-link">
                    <span>Năm</span>
                  </div>
                </div>
              </div>
              <!--end::Wrapper-->
              <!--begin::Wrapper-->
              <div class="d-flex align-items-center">
                <!--begin::Daterangepicker-->
                <div class="menu-item here">
                  <div class="menu-link">
                    <a href="#">
                      <span class="fw-bold">{{day}}, {{today}}/{{month}}</span>
                    </a>
                  </div>
                </div>
                <!--end::Daterangepicker-->
                <!--begin::Actions-->
                <div class="menu-item">
                  <div class="menu-link">
                    <button type="button" class="ht-btn-custom"><i class="fas fa-file-plus fa-lg"></i></button>
                  </div>
                </div>
                <!--end::Actions-->
              </div>
              <!--end::Wrapper-->
            </div>
            <!--end::Action group-->
          </div>
          <!--end::Container-->
        </div>
      </div>
      <!--end::Header-->
      <div class="d-flex flex-column flex-column-fluid">
        <!--begin::Container-->
        <div class="container-fluid">

        </div>
        <!--end::Container-->
      </div>
    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Page-->
</div>
